@{
    ViewData["Title"] = "Plex Roulette";
}

<img class="img-fluid rounded" src="~/images/salt.jpg" />
<div class="row">
    <div id="rouletteContainer" class="col-md-12 mt-3">
        <h2>Select a library to watch from next</h2>
    </div>
</div>
